# 依赖
node_modules/
.pnp
.pnp.js

# 构建输出
dist/
dist-electron/
release/
out/
*.tsbuildinfo

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 环境变量
.env
.env.local
.env.*.local

# 测试覆盖率
coverage

# 临时文件
*.log
